@charset "UTF-8";
.toFlex{
	display: flex;
}

.block{
	background-color: #ffffff;
	border: 1px solid;
	border-color: #f3f3f3;
	box-shadow: 0 0 8px #979797;
	border-radius: 5px;
	margin: 0px 0px 16px 0px;
}

dialog{
	border: none;
	box-shadow: 0 2px 6px #ccc;
	border-radius: 10px;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.603);
}

#x{
	text-decoration:none;
       cursor: pointer;
       background-color:rgb(0, 94, 188);
	padding: 10px;
	border: 0px;
	color: white;
	margin: 10px;
	font-size: 14px;
}

#x:hover{
	background-color: rgb(0, 54, 108);
	color:#ffffff;
}

#o{
	background-color:rgb(106, 106, 106);
	padding: 10px;
	border: 0px;
	color: white;
	margin: 10px;
	font-size: 14px;
}

#checkBtn{
	background-color:rgb(0, 94, 188);
	padding: 10px;
	border: 0px;
	color: white;
	margin: 5px;
}

#checkBtn:hover{
	background-color: rgb(0, 54, 108);
	color:#ffffff;
}

h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

.lineheight{
	margin: 10px 0px;
}